*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 50%;
}
@media only screen and (min-width: 46.875em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 56.25em) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ce9797;
  background-image: linear-gradient(135deg, white, #fff5f5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.attribution {
  text-align: center;
  font-size: 1.4rem;
  margin: 5rem 0;
}
.attribution__link {
  color: #000;
}
.attribution__link:hover {
  text-decoration: none;
}

@media only screen and (min-width: 46.875em) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "columnOne columnThree" "columnTwo columnThree";
    min-height: 100vh;
    background-image: url(../img/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 50vw 100%;
  }
}

header {
  padding: 3rem;
}
@media only screen and (min-width: 46.875em) {
  header {
    padding: 0 7rem;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.logo {
  height: 3rem;
}

.hero {
  background-image: url(../img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35rem;
}
@media only screen and (min-width: 500px) {
  .hero {
    height: 40rem;
  }
}
@media only screen and (min-width: 600px) {
  .hero {
    height: 50rem;
  }
}
@media only screen and (min-width: 46.875em) {
  .hero {
    background-image: url(../img/hero-desktop.jpg);
    grid-area: columnThree;
    height: auto;
  }
}

article {
  padding: 7rem;
  text-align: center;
}
@media only screen and (min-width: 46.875em) {
  article {
    text-align: left;
  }
}

h1 {
  font-weight: 600;
  font-size: 4.25rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 2rem;
}

span {
  font-weight: 200;
  color: #ce9797;
}

p {
  line-height: 1.5;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 500px) {
  p {
    padding: 0 5rem;
  }
}
@media only screen and (min-width: 46.875em) {
  p {
    padding: 0;
  }
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width: 46.875em) {
  .form__group {
    margin: 0;
  }
}
.form__input {
  font-size: 1.4rem;
  font-family: inherit;
  background-color: transparent;
  padding: 2rem;
  width: 100%;
  border: 1px solid rgba(206, 151, 151, 0.5);
  border-radius: 3rem;
}
@media only screen and (min-width: 46.875em) {
  .form__input {
    padding: 1.7rem 2rem;
  }
}
.form__input::-webkit-input-placeholder {
  color: #ce9797;
  opacity: 0.5;
}
.form__input::-moz-placeholder {
  color: #ce9797;
  opacity: 0.5;
}
.form__input:-ms-input-placeholder {
  color: #ce9797;
  opacity: 0.5;
}
.form__input::-ms-input-placeholder {
  color: #ce9797;
  opacity: 0.5;
}
.form__input::placeholder {
  color: #ce9797;
  opacity: 0.5;
}
.form__input:focus {
  outline: transparent;
}
.form__btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  position: absolute;
  right: 0;
}
@media only screen and (min-width: 46.875em) {
  .form__btn {
    padding: 1.4rem 3rem;
  }
}

.error,
.success {
  font-size: 1.4rem;
  display: none;
  text-align: left;
  padding: 1.5rem 0;
  margin-left: 2rem;
  margin-bottom: -5rem;
}

.error--symbol {
  position: absolute;
  right: 70px;
  top: 10px;
  display: none;
}
@media only screen and (min-width: 46.875em) {
  .error--symbol {
    right: 80px;
    top: 12px;
  }
}

.active {
  display: inline;
}