@use '../base/base' as *;

main {
  @media only screen and (min-width: $bp-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'columnOne columnThree'
      'columnTwo columnThree';
    min-height: 100vh;
    background-image: url(../../img/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 50vw 100%;
  }
}

header {
  padding: 3rem;

  @media only screen and (min-width: $bp-tablet) {
    padding: 0 7rem;
    align-self: center;
  }
}

.logo {
  height: 3rem;
}

.hero {
  background-image: url(../../img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35rem;

  @media only screen and (min-width: 500px) {
    height: 40rem;
  }
  @media only screen and (min-width: 600px) {
    height: 50rem;
  }

  @media only screen and (min-width: $bp-tablet) {
    background-image: url(../../img/hero-desktop.jpg);
    grid-area: columnThree;
    height: auto;
  }
}

article {
  padding: 7rem;
  text-align: center;

  @media only screen and (min-width: $bp-tablet) {
    text-align: left;
  }
}

h1 {
  font-weight: 600;
  font-size: 5rem;
  color: $black;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 2rem;
}

span {
  font-weight: 200;
  color: $desaturated-red;
}

p {
  line-height: 1.5;
  margin-bottom: 3rem;

  @media only screen and (min-width: 500px) {
    padding: 0 5rem;
  }
  @media only screen and (min-width: $bp-tablet) {
    padding: 0;
  }
}

.form {
  &__group {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: 0 auto;
    position: relative;

    @media only screen and (min-width: $bp-tablet) {
      margin: 0;
    }
  }

  &__input {
    font-size: 1.4rem;
    font-family: inherit;
    background-color: transparent;
    padding: 2rem;
    width: 100%;

    @media only screen and (min-width: $bp-tablet) {
      padding: 1.7rem 2rem;
    }

    border: 1px solid rgba($desaturated-red, 0.5);
    border-radius: 3rem;

    &::placeholder {
      color: $desaturated-red;
      opacity: 0.5;
    }

    &:focus {
      outline: transparent;
    }

    // &:invalid {
    //   border: 2px solid $soft-red;
    // }

    // &:focus:invalid {
    //   outline: none;
    // }

    // &:valid {
    //   border: 1px solid rgba($desaturated-red, 0.5);
    // }
  }

  &__btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(
      135deg,
      hsl(0, 80%, 86%),
      hsl(0, 74%, 74%)
    );
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    position: absolute;
    right: 0;

    @media only screen and (min-width: $bp-tablet) {
      padding: 1.4rem 3rem;
    }
  }
}

.error {
  font-size: 1.4rem;
  display: none;
  text-align: left;
  padding: 1.5rem 0;
  margin-left: 2rem;
  margin-bottom: -5rem;
}

.error--symbol {
  position: absolute;
  right: 70px;
  top: 10px;
  display: none;

  @media only screen and (min-width: $bp-tablet) {
    right: 80px;
    top: 12px;
  }
}

.active {
  display: inline;
}
